<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<div class="header">
    {% include "Nav Bar/navbar01.html" %}
</div>
<div class="slider">
    {% include "Components/slider01.html" %}
</div>

<div class="quickAccess">
    {% include "Components/quickAccess.html" %}
</div>

<div class="aboutUs">
    {% include "Components/aboutUsCmp.html" %}
</div>
<div class="principalMessage">
    {% include "Components/principalMessage.html" %}
</div>


<div class="facilities">
    {% include "Components/facilities.html" %}
</div>

<div class="whyChooseUs">
    {% include "Components/whyChooseUs.html" %}
</div>
<div class="facebookFeed">
    {% include "Components/facebookFeed.html" %}
</div>
<div class="ourTeam">
    {% include "Components/ourTeam.html" %}
</div>
<div class="footer">
    {% include "Components/footer.html" %}
</div>


</body>
</html>